<div id="app-39">
    <select v-model="selected">
        <option v-for="option in options" v-bind:value="option.value">
            {{ option.text }}
        </option>    
    </select>
    <span>Selected: {{ selected }}</span>
</div>

<script src="https://www.unpkg.com/vue"></script>
<script>
    const vm = new Vue({
        el: '#app-39',
        data: {
            selected: 'A',
            options: [
                {text: 'One', value: 'A'},
                {text: 'Two', value: 'B'},
                {text: 'Three', value: 'C'}
            ]
        }
    })
</script>